@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/inter-regular.ttf) format("ttf");
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Inter', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: none;
  color: #111111;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
